# ========== Android Studio ==========
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# ========== Build ==========
/build
/captures
.externalNativeBuild
.cxx

# ========== Kotlin/Java ==========
*.kotlin_module

# ========== Logs/Temp ==========
*.log
*.tmp

# ========== Firebase ==========
/app/google-services.json

# ========== Jetpack Compose Debug ==========
/debug/

# ========== Local environment ==========
.env

# ========== OS Specific ==========
*.swp
*.swo
Thumbs.db
